.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

  }
  .heading{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .heading img{
    width: 60px;
  }
  .heading h1{
    padding-left: 10px;
  }
  .post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
  }
  .post_form input {
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
  }
  .post_form textarea {
    width: 70%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  input#button{
    width: 20%;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  input#file{
    width: 45%;
    border: 0;
    padding-top: 30px;
  }
  a#cancel{
    text-decoration: none;
    border: 1px solid;
    background-color: grey;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
  }
  .posts li {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    position: relative;
  }
  .posts ul {
    padding: 0;
  }
  .posts li .logo {
    flex-basis: 15%;
  }
  .posts li .logo img {
    width: 60%;
  }
  .posts li .name_body {
    flex-basis: 85%;
  }
  .posts li .name_body .name {
    font-weight: bold;
  }
  .posts li .name_body .date {
    color: gray;
  }
  .menu_icon {
    top: 10px;
    right: 30px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
  }
  .menu a {
    text-decoration: none;
  }
  @media screen and (max-width: 500px) {
    .name {
      font-size: 20px;
    }
  }